:root {
  --span-color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, sans-serif;

  /* For Firefox */
  scrollbar-width: 0;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
}

span {
  color: var(--span-color);
}

input:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

.nav-toggler {
  border: 2px solid #fff;
}

span.navbar-toggler-icon {
  background: none;
  position: relative;
}
span.navbar-toggler-icon::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transform-origin: 0% 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
span.navbar-toggler-icon::before {
  content: "";
  position: absolute;
  top: 70%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transform-origin: 0% 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav-toggler:hover span.navbar-toggler-icon::after {
  width: 120%;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}
.nav-toggler:hover span.navbar-toggler-icon::before {
  width: 120%;
  transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
}

.nav-toggler:focus {
  box-shadow: none;
}

.messages {
  background-image: url("./assets/imgs/Telegram-Background.jpg");
  background-attachment: fixed;
  padding-bottom: 56px !important;
  padding-top: 78px !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
